#input-area {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: var(--incoming-bg);
  gap: 10px;
}

#attach-btn, #send-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-color);
  transition: background-color 0.2s;
}

#attach-btn:hover, #send-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#message-input {
  flex: 1;
  min-height: 40px;
  max-height: 120px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px 15px;
  background-color: white;
  resize: none;
  font-size: 1rem;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  letter-spacing: -0.5px; /* добавлено уменьшение расстояния между буквами */
}

#message-input:focus {
  box-shadow: 0 0 0 2px var(--primary-color);

}
